<footer class="bg-dark text-white pt-4">
    <div class="container">
      <nav class="mb-4">
        <div class="row">
          <div class="col-md-3">
            <h5>Transparencia</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Solicite Información</a></li>
              <li><a href="#" class="text-white">Licitaciones</a></li>
              <li><a href="#" class="text-white">Adjudicaciones</a></li>
              <li><a href="#" class="text-white">Declaraciones Juradas</a></li>
              <li><a href="#" class="text-white">Oferentes</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Navegar a</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Cedulación</a></li>
              <li><a href="#" class="text-white">Registro Civil</a></li>
              <li><a href="#" class="text-white">Voto en el Exterior</a></li>
              <li><a href="#" class="text-white">Portal de Transparencia</a></li>
              <li><a href="#" class="text-white">Soporte al Usuario</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Publicaciones</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">El Demócrata</a></li>
              <li><a href="#" class="text-white">Temas de Democracia</a></li>
              <li><a href="#" class="text-white">Memorias</a></li>
              <li><a href="#" class="text-white">Resultados Electorales</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Soporte</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Directorio</a></li>
              <li><a href="#" class="text-white">Sistema de Tickets</a></li>
              <li><a href="#" class="text-white">Preguntas Frecuentes</a></li>
              <li><a href="#" class="text-white">Asistencia por Twitter</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
      <address>
        <p><strong>Contáctenos:</strong></p>
        <p>Teléfonos: (809) 539-5419, (809) 537-0188, Sin Cargos: 1 (809) 200-1959</p>
        <p>Fax: (809) 518-1143</p>
        <p>Dirección: Av. 27 de Febrero esquina Av. Luperón, Santo Domingo Oeste, Provincia Santo Domingo</p>
        <p>Código Postal: 11113</p>
      </address>
    </div>
  </footer>
  